{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-4">تعديل بيانات عميل</h1>
    <form method="post" action="{{ url_for('edit_client', client_id=client.id) }}">
        <div class="form-group">
            <label for="name">اسم العميل :</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ client.name }}" required>
        </div>
        <div class="form-group">
            <label for="num">رقم العميل:</label>
            <input type="tel" class="form-control" id="num" name="num" value="{{ client.number }}" required>
        </div>
        
        <button type="submit" class="btn btn-primary">حفظ</button>
    </form>
{% endblock %}
