{% extends 'base.html' %}
{% block title %}Edit Page Description{% endblock %}

{% block content %}
<h1>Edit Description for Page: {{ page.name }}</h1>

<form method="POST">
    <div class="form-group">
        <label for="description">Page Description</label>
        <textarea name="description" id="description" class="form-control" rows="5" required>{{ page.description or '' }}</textarea>
    </div>
   <div class="form-group">
            <label for="token">token:</label>
            <input type="text" class="form-control" id="token" name="token" required value="{{page.page_token}}">
        </div>
   <div class="form-group">
            <label for="welcome">welcome message:</label>
                    <textarea name="welcome" id="welcome" class="form-control" rows="5" required>{{ page.welcome or '' }}</textarea>

        </div>
   <div class="form-group">
            <label for="welcome_comment">welcome comment:</label>
                    <textarea name="welcome_comment" id="welcome_comment" class="form-control" rows="5" required>{{ page.welcome or '' }}</textarea>

        </div>
    <button type="submit" class="btn btn-primary mt-3">Save Description</button>
</form>
{% endblock %}
