{% extends 'base.html' %}
{% block title %}الملاحظات{% endblock %}

{% block content %}
    <h1 class="mt-4">الملاحظات</h1>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>الملاحظه</th>
                <th>حذف</th>
                
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.note }}</td>
                    <td><a href="{{ url_for('delete_note', note_id=note.id) }}" onclick="return confirm('هل انت متاكد من حذف الملاحظه؟');">حذف</a></td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ url_for('new_note') }}">اضافه ملاحظه</a>
{% endblock %}
